## Importing Data

In [1]:
# Dependencies and setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np


# Files to Load
city_data = "data/city_data.csv"
ride_data = "data/ride_data.csv"

# Reading the City and Ride Data
city_data_df = pd.read_csv(city_data)
ride_data_df = pd.read_csv(ride_data)

# Combining the data into a single dataset
combined_df = pd.merge(ride_data_df, city_data_df, how='left', on='city')

# Previewing some of the data
combined_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2018-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2018-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2018-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2018-03-06 04:28:35,34.58,3908451377344,46,Urban

## Preparing Data for Charting

In [26]:
#Making a summary dataframe grouped by city
city_grouped_df = combined_df.groupby(['city'])

#The final dataframe will have four columns: average fare per city, city type, total number of rides per city,
#and total number of drivers per city
average_fare = city_grouped_df['fare'].mean()

total_rides = city_grouped_df['ride_id'].nunique()

total_drivers = city_grouped_df['driver_count'].sum()

city_type = city_grouped_df['type'].unique().str[0]

#making the summary dataframe
summary_df = pd.DataFrame({
                "Average Fare": average_fare,
                "City Type": city_type,
                "Total number of rides": total_rides,
                "Total number of drivers": total_drivers
})

#previewing the summarized dataframe
summary_df

,Average Fare,City Type,Total number of rides,Total number of drivers
city,,,,
Amandaburgh,24.641667,Urban,18,216
Barajasview,25.332273,Urban,22,572
Barronchester,36.422500,Suburban,16,176
Bethanyland,32.956111,Suburban,18,396
Bradshawfurt,40.064000,Rural,10,70
Brandonfort,35.437368,Suburban,19,190
Carriemouth,28.314444,Urban,27,1404
Christopherfurt,24.501852,Urban,27,1107
Colemanland,30.894545,Suburban,22,506
Davidfurt,31.995882,Suburban,17,391
Deanville,25.842632,Urban,19,931
East Aaronbury,25.661111,Suburban,9,63
East Danielview,31.560588,Suburban,17,374
East Kaylahaven,23.757931,Urban,29,1885
East Kentstad,29.823077,Suburban,13,260
East Marymouth,30.835185,Suburban,27,135
Erikaland,24.906667,Urban,12,444
Garzaport,24.123333,Rural,3,21
Grahamburgh,25.221200,Urban,25,1525
Grayville,27.763333,Suburban,15,30
Harringtonfort,33.470000,Rural,6,24
Huntermouth,28.993750,Urban,24,888
Hurleymouth,25.891429,Urban,28,1008
Jerryton,25.649200,Urban,25,1600
Jessicaport,36.013333,Rural,6,6
Johnton,26.785714,Urban,21,567
Joneschester,22.289600,Urban,25,975
Josephside,32.858148,Suburban,27,675
Justinberg,23.694333,Urban,30,1170
Karenberg,26.340000,Urban,17,374
...,...,...,...,...
South Evanton,26.726129,Urban,31,341
South Jack,22.965263,Urban,19,874
South Jennifer,35.264286,Rural,7,49
South Karenland,26.535526,Urban,38,152
South Latoya,20.093158,Urban,19,190
South Marychester,41.870000,Rural,8,8
South Michelleport,24.451613,Urban,31,2232
South Phillip,28.571290,Urban,31,1178
South Saramouth,36.160000,Rural,4,28
South Teresa,31.220455,Suburban,22,462
Taylorhaven,42.263333,Rural,6,6
Valentineton,24.636364,Urban,22,990
Veronicaberg,32.828235,Suburban,17,340
Victoriaport,27.780000,Suburban,14,224
West Angela,25.990000,Urban,39,1872
West Anthony,24.736667,Urban,30,2100
West Christopherberg,24.421154,Urban,26,832
West Ericstad,22.347222,Urban,18,450
West Gabriel,20.346087,Urban,23,1311
West Hannah,29.547619,Suburban,21,252
West Heather,33.890000,Rural,9,36
West Heidi,23.133929,Urban,28,784
West Josephberg,21.720385,Urban,26,1170
West Kimmouth,29.871500,Suburban,20,80
West Patrickchester,28.233125,Urban,16,400
West Robert,25.123871,Urban,31,1209
West Samuelburgh,21.767600,Urban,25,1825
Williamsonville,31.875000,Suburban,14,28
Williamsstad,24.362174,Urban,23,1357
Williamsview,26.599000,Urban,20,920